* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ededeb ;
}

.cardUI {
  width: 370px;
  height: 470px;
  background-color: white;
  border-radius: 20px;
  padding: 20px ;
    
}
.parent {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}
.img {
  border: 1px solid white;
  width: 330px;
  height: 190px;
  border-radius: 10px;  
}
.img-heading {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 5px;
}
.imgPart {
  position: relative;
}
.itsname {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
}
.itsdescription {
  color: gray;
  padding-bottom: 12px;
  border-bottom: 2px solid #ddd;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px ;
  padding-bottom: 12px;
  border-bottom: 2px solid #ddd;
}
.details-ele {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 14px;
  position: relative;
  padding-right: 10px;
}
.details-ele:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: -7px;
  height: calc(100% + 14px);
  border-right: 1px solid #ccc;
}
.bottom {
  margin-top: 20px;
}
.bottom span {
  border: 1px solid #ededeb;
  background-color: #ededeb;
  padding: 5px 10px;
  border-radius: 20px;
  color: black;
  margin-right: 5px;
}
.bottom button {
  font-size: 15px;
  color: white;
  border: 1px solid rgb(41, 40, 40);
  width: 100%;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(41, 40, 40);
  margin-top: 20px;
  height: 40px;
}

.parent .cardUI:nth-child(2) .img {
  height: 300px;
}

.parent .cardUI:nth-child(2) {
  transform: translateY(100px);
}